body {
    margin: 0;
    background-colour: rgba(3, 3, 122);
    color: white;
    font-familiy: Arial, sans-serif;
    text-align:center;

}

h1 {

    margin-top: 20px;
    margin-bottom: 10px;


}

#topBar {

    width: 700px;
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;

}

#gameCanvas {
    background: #080820;
    border: 2px solid white;

}

#message {
    
    color: lightgray;
    font-size: 18px;
}

#buttonPanel,
#difficultyPanel {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}

button {
    padding: 8px 14px;
    border: 2px solid white;
    background-color: #111144;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #333399;

}

#helpBox {
    width: 600px;
    margin: 10px auto;
    padding:12px;
    border: 2px solid white;
    background-color: #111133;
    color: white;

}

.hidden {
    display: none;
}